ul.expandable {
  list-style-type: none;
  padding-left: 0.5em;
}
#last-comments li.dmlc-new {
  animation-name: dmlc-new;
  animation-duration: 2s;
}
#last-comments li.dmlc-new::after {
  content: " \02605";
  /* ★ */
}
@keyframes dmlc-new {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
